@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-weight: 500;
}
/* ------------ Inicio Estilo Header --------------*/
ul li a:hover{
    border-bottom: 1px solid rgb(241, 241, 241);
}
header{
    color: #f1f1f1;
    background: #212226;
    display: flex;
    padding: 15px 2vw 15px 15px;
    align-items: center;
    justify-content: space-between;
}

.btnNav{
    display: none;
    background-color: #212126;
    color: #f1f1f1;
    padding: 10px;
    margin: 0;
    border: 1px solid transparent;
}
@media(max-width: 700px){
    .btnNav{
        display: block;
    }
    .nav{
        display: none;
        position: absolute;
        margin: 130px 0 0 15%;
    }
    .active{
        display: block;

    }
}

.nav ul{
    display: flex;
    list-style-type: none;
    gap: 5vw;
    font-size: 20px;
}

.title{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.flex-itens .logo {
    width: 50px;
    height: 50px;
}
/* ------------ Fim Estilo Header --------------*/
/* ------------ Inicio Estilo Banner Principal --------------*/
hr{
    color: #212226;
    border: 1px solid rgb(51, 51, 51);
}
.inicio{
    height: 750px;
    background: #212226;
    color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio-itens{
    margin-bottom: 100px;
}
.inicio div h1{
    font-size: 7vw;
}
.inicio div div{
    margin: 10px 0 30px 0;
    display: flex;
    align-items: center;
    gap: 6vw;
}

.inicio div .sub-title{
    font-size: 2.3vw;
}
.inicio div div img{
    width: 30px;

}
.inicio div div ul{
    display: flex;
    list-style-type: none;
}
.inicio .inicio-itens a {
    margin-right: 2vw;
}
.inicio .inicio-itens a button{
    padding: 0.8vw 1vw;
    font-size: 1vw;
    box-shadow: 3px 3px 7px rgb(41, 41, 41);
}
button:hover{
    transform: rotate(-4deg);
}
.env-portifolio{
    background: rgb(241, 241, 241);
    color: #212226;
    border: 1px solid transparent;
}
.env-sobre{
    background: #212126;
    color: rgb(241, 241, 241);
    border: 1px solid #f1f1f1;
}
/* ------------ Fim Estilo Banner Principal --------------*/
/* ------------ Inicio Estilo Skils --------------*/
.foco{
    padding: 60px 0px 100px 0;
    background:#f1f1f1;
    background-size: 100%;
    text-align: center;
}
.foco h1{
    padding-bottom: 0px;
    font-size: 60px;
    color: #212226;
}
.foco > p{
    padding-bottom: 80px;
    font-size: 22px;
    color: #212226;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}
.itens-foco{
    width: 17%;
    height: 300px;
    min-width: 200px;
    background: #212226;
    background-size: 400px;
    border-radius: 10px;
    padding: 50px 30px 100px 30px;
    color: rgb(241, 241, 241) ;
    line-height: 21px;
    box-shadow: 5px 5px 10px rgb(201, 201, 201);
}
.itens-foco:hover{
    transform: scale(1.05);
}

.itens-foco div img{
    width: 80px;

}
.itens-foco h2{
    margin: 40px 0 20px 0;
}
/* ------------ Fim Estilo Skils --------------*/
/* ------------ Inicio Estilo Principal Projetos --------------*/
.principais-projetos{
    padding: 80px 10px;
    background: #212226;
    background-size: 1800px;
    text-align: center;
}
.principais-projetos .projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}
.principais-projetos > h1{
    font-size: 60px;
    color: rgb(241, 241, 241);
    margin-bottom: 70px;
}
.projeto-itens div> img{
    width: 40%;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.projeto-itens img{
    width: 25vw;
}
.projeto-itens img:hover{
    transform: scale(1.1);
}
.projeto-itens h2{
    font-size: 40px;
    margin: 40px 0;
    color: rgb(241, 241, 241);
}
.projeto-itens p{
    font-size: 20px;
    color: rgb(241, 241, 241);
    margin-bottom: 20px;
}
.projetos span img{
    width: 50px;
    margin: 20px 7px;
}
.projetos span img:hover{
    opacity: 0.7;
}
.btn-todosProjetos{
    padding: 10px 50px;
    border-radius: 30px;
    border: 1px solid transparent;
    margin-top: 20px;
}
/* ------------ Fim Estilo Principal Projetos --------------*/
/* ------------ Inicio Conversa --------------*/
.iniciar-cvs{
    background-color: rgb(241, 241, 241);
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: #212226;
}
.iniciar-cvs div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.iniciar-cvs div button{
    display: flex;
    padding: 10px 30px;
    font-size: 20px;
    gap: 20px;
    font-weight: 600;
    color: rgb(241, 241, 241);
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}
.iniciar-cvs button p{
    padding-top: 4px;
}
.iniciar-cvs button img{
    width: 30px;
}
.whatsapp{
    background-color: rgb(0, 185, 40);
}
.linkedin{
    background-color: rgb(0, 0, 134);
}
/* ------------ Fim Conversa --------------*/
/* ------------ Inicio Formação--------------*/

.jornada-aprendizado{
    text-align: center;
    padding: 110px 0;
    background-color: #f1f1f1;
    border-top: 1px solid rgb(233, 233, 233);
}
.jornada-aprendizado h1{
    font-size: 55px;
    color: #212126;
}
.jornada-aprendizado img{
    width: 60vw;
}

/* ------------ Fim Formação--------------*/
/* ------------ Inicio redes sociais--------------*/
.redes-sociais{
    background: #212126;
    padding: 100px 0 0 0;
    text-align: center;
}
.redes-sociais div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #212126;
    flex-wrap: wrap;
    padding: 0 10px 50px 10px;
}
.redes-sociais h1{
    color: #f1f1f1;
    font-size: 60px;
}
.itens-sociais{
    width: 40%;
    height: 700px;

}
.sobreMim-Direita{
    text-align: start;
    min-width: 400px;
}
.sobreMim-Direita p{
    font-size: 20px;
    color: #f1f1f1;

}
.itens-sociais ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.itens-sociais ul li a button img{
   width: 40px;
}
.itens-sociais ul li > img{
   margin-bottom: 60px;
}
.itens-sociais ul li a button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 0;
    background: #212126;
    color: #f1f1f1;
    border: 3px solid white;
    border-radius: 100px;
}
.itens-sociais ul li a button:hover{
    transform: scale(1.07);
}
