.btnProjetos {
  padding: 5px 30px;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(77, 109, 42);
}
.btnProjetos:hover {
  color: rgb(27, 37, 16);
  background-color: white;
  border: 1px solid white;
}
