.container {
  max-width: fit-content;
  padding: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 2px;
  background-color: rgb(43, 60, 26);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.265);
  cursor: default;
}
.container .divIcon {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
}
.container img {
  width: 15px;
}
.divText {
  height: 100%;
}
.container p {
  font-size: 13px;
  font-weight: 500;
  color: white;
}
