.container {
  width: 100%;
  height: 95vh;
  background: rgb(4, 5, 2);
  background: linear-gradient(25deg, #040502 25%, #445e28 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.principalText {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  color: white;
  text-align: left;
}
.principalText h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 80px;
  text-align: start;
}
.subtitle {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.principalText .subtitle > p {
  font-size: 25px;
  text-align: start;
}
.iconsSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.iconsSocial img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  transition: 0.5s;
  color: rgba(68, 94, 40, 1);
}
.pElementoIcon {
  display: none;
  position: absolute;
  font-size: 12px;
  color: white;
  padding: 0.2vw 1vw;
  border-radius: 5px;
  background-color: black;
}
.iconsSocial img:hover {
  animation: balaca 1s infinite alternate;
}
.iconsSocial .elementoIcon:hover .pElementoIcon {
  display: block;
  transform: translate(-22px, +10px);
}

@keyframes balaca {
  0% {
    transform: rotate(+10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(+5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 800px) {
  .principalText h1 {
    font-size: 50px;
  }
  .principalText .subtitle > p {
    font-size: 20px;
  }
  .iconsSocial img {
    width: 17px;
  }
  .pElementoIcon {
    font-size: 10px;
  }
  .iconsSocial .elementoIcon:hover .pElementoIcon {
    display: block;
    transform: translate(-12px, +10px);
  }
}
@media (max-width: 500px) {
  .principalText h1 {
    font-size: 35px;
  }
  .principalText .subtitle > p {
    font-size: 15px;
  }
  .iconsSocial img {
    width: 17px;
  }
  .pElementoIcon {
    font-size: 10px;
  }
  .iconsSocial .elementoIcon:hover .pElementoIcon {
    display: block;
    transform: translate(-12px, +10px);
  }
}
@media (max-width: 320px) {
  .principalText h1 {
    font-size: 30px;
  }
  .principalText .subtitle > p {
    font-size: 12px;
  }
  .iconsSocial img {
    width: 15px;
  }
  .pElementoIcon {
    font-size: 10px;
  }
  .iconsSocial .elementoIcon:hover .pElementoIcon {
    display: block;
    transform: translate(-12px, +10px);
  }
}
